# Neural Network Final Solution Experiments - Classification Tasks

In the following notebook we will test our final solution on the three following datasets with a classification prediction task:
1. Adult
2. Spotify
3. Titanic

In [46]:
import pandas as pd
import sys
sys.path.insert(0, <path_to_root>)
from ....main import main

ImportError: attempted relative import with no known parent package

## 1. Adult

In [39]:
data_path = '../../../datasets/converted_datasets/adult_converted.csv'
data = pd.read_csv(data_path)
data.head()

,age,fnlwgt,education,educational-num,race,gender,capital-gain,capital-loss,hours-per-week,income,workclass,marital-status,occupation,native-country,relationship
0,25,226802,6,7,Black,Male,0,0,40,0,4,4,7,39,5
1,38,89814,8,9,White,Male,0,0,50,0,4,2,5,39,4
2,28,336951,10,12,White,Male,0,0,40,1,2,2,11,39,4
3,44,160323,12,10,Black,Male,7688,0,40,1,4,2,7,39,4
4,18,103497,12,10,White,Female,0,0,30,0,0,4,0,39,5

- The target column to predict is the income column. 



- We know that the following columns have less than 50 unique INT values - therefore, they are actually categorical: education, educational_num, workclass, marital-status, occupation, native-country and relationship.


- Additionaly, we know that education and aducational-num are ordinal, while all the other are nominal.

We apply our model on the adults dataset:

In [ ]:
main(data_path, 'income')

## 2. Spotify

In [41]:
data_path = '../../../datasets/converted_datasets/spotify_converted.csv'
data = pd.read_csv(data_path, low_memory=False)
data.head()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,...,type,id,uri,track_href,analysis_url,duration_ms,time_signature,song_name,0,genre
0,0.831,0.814,2,-7.364,1,0.4200,0.0598,0.013400,0.0556,0.3890,...,audio_features,2Vc6NJ9PW9gD9q343XFRKx,spotify:track:2Vc6NJ9PW9gD9q343XFRKx,https://api.spotify.com/v1/tracks/2Vc6NJ9PW9gD...,https://api.spotify.com/v1/audio-analysis/2Vc6...,124539,4,Trap,Retrograde,0
1,0.719,0.493,8,-7.230,1,0.0794,0.4010,0.000000,0.1180,0.1240,...,audio_features,7pgJBLVz5VmnL7uGHmRj6p,spotify:track:7pgJBLVz5VmnL7uGHmRj6p,https://api.spotify.com/v1/tracks/7pgJBLVz5Vmn...,https://api.spotify.com/v1/audio-analysis/7pgJ...,224427,4,Trap,NaN,0
2,0.850,0.893,5,-4.783,1,0.0623,0.0138,0.000004,0.3720,0.0391,...,audio_features,0vSWgAlfpye0WCGeNmuNhy,spotify:track:0vSWgAlfpye0WCGeNmuNhy,https://api.spotify.com/v1/tracks/0vSWgAlfpye0...,https://api.spotify.com/v1/audio-analysis/0vSW...,98821,4,Trap,NaN,0
3,0.476,0.781,0,-4.710,1,0.1030,0.0237,0.000000,0.1140,0.1750,...,audio_features,0VSXnJqQkwuH2ei1nOQ1nu,spotify:track:0VSXnJqQkwuH2ei1nOQ1nu,https://api.spotify.com/v1/tracks/0VSXnJqQkwuH...,https://api.spotify.com/v1/audio-analysis/0VSX...,123661,3,Trap,(Prod.,0
4,0.798,0.624,2,-7.668,1,0.2930,0.2170,0.000000,0.1660,0.5910,...,audio_features,4jCeguq9rMTlbMmPHuO7S3,spotify:track:4jCeguq9rMTlbMmPHuO7S3,https://api.spotify.com/v1/tracks/4jCeguq9rMTl...,https://api.spotify.com/v1/audio-analysis/4jCe...,123298,4,Trap,NaN,0

- The target column to predict is the mode column. 



- We know that the following columns have less than 50 unique INT values - therefore, they are actually categorical: key, genre and time_signature (means number of bits in a given time period).


- Additionaly, we know that time signature is ordinal, while all the other are nominal.

We apply our model on the spotify dataset:

In [47]:
main(data_path, 'mode')

NameError: name 'main' is not defined

## 3. Titanic

In [42]:
data_path = '../../../datasets/converted_datasets/titanic_converted.csv'
data = pd.read_csv(data_path, low_memory=False)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,2

- The target column to predict is the Survivrd column. 



- We know that the following columns have less than 50 unique INT values - therefore, they are actually categorical: SibSB (number of siblings on board), Parch (number of parents/children on board and Embarked (where the traveler mounted from).


- Additionaly, we know that SibSB and Parch are ordinal, while Embarked is nominal.

We apply our model on the titanic dataset:

In [ ]:
main(data_path, 'Survived')

_____________________________________________________________________________________________________________

In total we had:  

Nominal Columns: \
adult - workclass \
adult - marital-status \
adult - occupation \
adult - native-country \
adult - relationship \
spotify - key \
spotify - genre \
titanic - Embarked 
 
 
 
Ordinal Columns: \
adult - education \
adult - educational_num \
spotify - time_signature \
titanic - SibSB \
titanic - Parch